/vendor
/node_modules
/storage
/node_modules
/nbproject
/tests
/public/uploads/avatar
/public/uploads/posts
/public/uploads/images
/public/uploads/category_one
/public/uploads/category_two
/public/uploads/category_three
Homestead.yaml
Homestead.json
composer.lock
.env
